*{
    margin: 0px;
    padding: 0px;
}

.maindiv{
    background-color: rgb(170, 114, 223);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.passwordiv{
    background-color: rgb(150, 21, 209);
    width: 400px;
    height: 400px;
    
}
.inptdiv input{
     flex-basis:19%;
     padding: 8px 0px;
     
}
.inptdiv button{
    padding: 8px 5px;
}
.cherecterdiv{
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
}
.cherecterdiv input{
    width: 40px;
}